<!doctype html>
<html lang="en-us" xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">
        {{ standard_header_includes }}
      
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  {% module "module_152509620453033" module_id="2842050" label="head" %}

      <style>
        {% if page_meta.name == "Inbound Marketing" %}
        
        #Inbound {
        color: #ffb52f !important;
        }
        
        {% endif %}
        
      </style>
     <style>
         .inbound-images img {max-width: 100%;
max-height: 550px;}
         
         .in-img {text-align: center;}
         
         .inbound-images {
    padding: 40px 0;
}
       #myScrollspy {transition:ease all 1s;}
       
 

  body {
      position: relative;
  }
  ul.nav-pills {
      top: 20px;
 
  }
  div.col-12 div {
      height: auto;
  }
  </style>
      
    </head>
<body data-spy="scroll" dagta-target="#myScrollspy" data-offset="90"  >

   {% module "module_152509650118873" module_id="2841936" label="nav" %}
  
  
  
   <div class="container-fluid d-flex justify-content-center align-items-center align-content-center video-parallax-container" id="video-header">
        <div class="col-12 col-sm-7 col-lg-10 d-inline-block intro-logo page-title-header" data-aos="fade" data-aos-duration="500">
            <h1 class="text-uppercase" style="color:rgb(255,255,255);height:auto;">{% inline_rich_text "inline_rich_text" field="my_text_field" html="WHAT IS INBOUND?" %}</h1>
          
          <a class="btn btn-primary left-btn white-btn" role="button" href="/consultation">SCHEDULE A MEETING</a>
          <a class="btn btn-primary  white-btn" role="button" href="/contact-us">ASK AN ON-TARGET! EXPERT</a></div>
    
    <video height="auto" autoplay="" poster="{% image_src "header_image_src" src="https://www.ontargetagency.com/hubfs/DigiCamp_LP-bg-1.png", no_wrapper=True %}" muted="" loop="" style="background-image:url(&quot;{% image_src "header_image_src" src="https://www.ontargetagency.com/hubfs/images/Inbound-Marketing-1.jpg", no_wrapper=True %}&quot;);background-size:cover;background-repeat:no-repeat;background-position:center;"></video>

</div>
  
   <section class="white-bg">
        <div class="container" style="max-width:100%;width:100%;">
            <div class="row">
                <div class="col-lg-3 col-xs-12 col-sm-12 col-md-3">
    <nav class="col-sm-12 col-12 inbound-scroll" id="myScrollspy">
      <ul class="nav nav-pills flex-column"  >
        <li class="nav-item"><a class="nav-link active" href="#section1" style="color:#000;">Overview</a></li>
        <li class="nav-item"><a class="nav-link" href="#section2"  style="color:#000;">Keywords & Ads</a></li>
        <li class="nav-item"><a class="nav-link" href="#section3"  style="color:#000;">Call to Actions (CTAs) & Personalization</a></li>
        <li class="nav-item"><a class="nav-link" href="#section4"  style="color:#000;">Landing Pages & Analyze in Real Time </a></li>
        <li class="nav-item"><a class="nav-link" href="#section5"  style="color:#000;">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="#section6"  style="color:#000;">Lead Management & HubSpot CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section7"  style="color:#000;">List Management & Segmentation / Email Marketing</a></li>
        <li class="nav-item"><a class="nav-link" href="#section8"  style="color:#000;">Marketing Automation</a></li>
        <li class="nav-item"><a class="nav-link" href="#section9"  style="color:#000;">Reporting Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="#section10"  style="color:#000;">Social Inbox</a></li>
        <li class="nav-item"><a class="nav-link" href="#section11"  style="color:#000;">Marketing Automation</a></li>
        <li class="nav-item"><a class="nav-link" href="#section12"  style="color:#000;">Sales Tools</a></li>
        <li class="nav-item"><a class="nav-link" href="#section13"  style="color:#000;">Practical CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section14"  style="color:#000;">Prospects</a></li>
        <li class="nav-item"><a class="nav-link" href="#section15"  style="color:#000;">Templates & Email Tracking</a></li>
        <li class="nav-item"><a class="nav-link" href="#section16"  style="color:#000;">Document Tracking</a></li>
        <li class="nav-item"><a class="nav-link" href="#section17"  style="color:#000;">Call Tracking</a></li>
        <li class="nav-item"><a class="nav-link" href="#section18"  style="color:#000;">Meetings</a></li>
        <li class="nav-item"><a class="nav-link" href="#section19"  style="color:#000;">HubSpot CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section20"  style="color:#000;">HubSpot CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section21"  style="color:#000;">HubSpot CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section22"  style="color:#000;">Results</a></li>
    
 
      
      </ul>
    </nav>
              
              
                  <select class="mobile-inbound-nav" onchange="window.location.hash = this.options[this.selectedIndex].value">
<option value="#section1" >Overview</option>
<option value="#section2"  >Keywords & Ads</option>
<option value="#section3"  >Call to Actions (CTAs) & Personalization</option>
<option value="#section4"  >Landing Pages & Analyze in Real Time </option>
<option value="#section5"  >Blog</option>
<option value="#section6"  >Lead Management & HubSpot CRM</option>
<option value="#section7"  >List Management & Segmentation / Email Marketing</option>
<option value="#section8"  >Marketing Automation</option>
<option value="#section9"  >Reporting Dashboard</option>
<option value="#section10"  >Social Inbox</option>
<option value="#section11"  >Marketing Automation</option>
<option value="#section12"  >Sales Tools</option>
<option value="#section13"  >Practical CRM</option>
<option value="#section14"  >Prospects</option>
<option value="#section15"  >Templates & Email Tracking</option>
<option value="#section16"  >Document Tracking</option>
<option value="#section17"  >Call Tracking</option>
<option value="#section18"  >Meetings</option>
<option value="#section19"  >HubSpot CRM</option>
<option value="#section20"  >HubSpot CRM</option>
<option value="#section21"  >HubSpot CRM</option>
<option value="#section22"  >Results</option>

                  
                  </select>
              
              
              </div>
                <div class="col-lg-9 col-xs-12 col-sm-12 col-md-9">  
                  
                      <!-- CTA --> {% include "2018/assets/snippets/inbound-video-cta.html" %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-12">
      
      <!-- Section -->
      <div id="section1" class="">    
    <div class="row inbound-images">
         <div class="col-md-6">         
{% image "inbound_image0" label="Inbound Image0", alt="Photo of Brian Halligan", src="//cdn2.hubspot.net/hub/53/file-733888619-jpg/assets/hubspot.com/about/management/brian-home.jpg", width="300" %}
          {% rich_text "my_rich_text0" label="Enter text here" html="<p>My rich text default content</p>" %} 
     </div>
    <div class="col-md-6 in-img">
        <h1>  {% text "text1" %}</h1>
    {% rich_text "my_rich_text" label="Enter text here" html="<p>My rich text default content</p>" %}     
      {% image "inbound_image1" label="inbound photo2", alt="Photo of Brian Halligan", src="//cdn2.hubspot.net/hub/53/file-733888619-jpg/assets/hubspot.com/about/management/brian-home.jpg", width="300" %}
          
          
          
      </div> 
     
    </div> 
      
      
      </div>

          <!-- Section -->
      <div id="section2" class="">    
    <div class="row inbound-images">
         <div class="col-md-6"> 
         
                 
<h1>{% text "text2" %}</h1>
{% rich_text "my_rich_text2" label="Enter text here" html="<p>My rich text default content</p>" %}
<h1>{% text "text3" %}</h1>
         {% rich_text "my_rich_text3" label="Enter text here" html="<p>My rich text default content</p>" %}                        
         </div>
    <div class="col-md-6 in-img">
           
      {% image "inbound_image2" label="inbound photo2", alt="Photo of Brian Halligan", src="//cdn2.hubspot.net/hub/53/file-733888619-jpg/assets/hubspot.com/about/management/brian-home.jpg", width="300" %}
          
      </div> 
     
    </div> 
      
      
      </div>
        
         </div> 
      
       
                             

       
    </div> 
      </div>
      
      
    
    
    
    
    
    
    
    </div>
  </div>
</div>
 
  
       {% module "module_152509634232252" module_id="2842056" label="foot" %}
  
  {{ standard_footer_includes }}
  
  <script>
  function isOnScreen(elem) {
	// if the element doesn't exist, abort
	if( elem.length == 0 ) {
		return;
	}
	var $window = jQuery(window)
	var viewport_top = $window.scrollTop()
	var viewport_height = $window.height()
	var viewport_bottom = viewport_top + viewport_height
	var $elem = jQuery(elem)
	var top = $elem.offset().top
	var height = $elem.height()
	var bottom = top + height

	return (top >= viewport_top && top < viewport_bottom) ||
	(bottom > viewport_top && bottom <= viewport_bottom) ||
	(height > viewport_height && top <= viewport_top && bottom >= viewport_bottom)
}

jQuery( document ).ready( function() {
	window.addEventListener('scroll', function(e) {
		if( isOnScreen( jQuery( '.footer-lower' ) ) ) { /* Pass element id/class you want to check */
			console.log( 'The specified container is in view.' );
      
      $("#myScrollspy").removeClass("is_stuck");
      
        $("#myScrollspy").fadeOut( 800, "swing" );
           // $("#myScrollspy").css('bottom','140%');
                 // $("#myScrollspy").css('top','unset');

 		}	else {
      
      console.log( 'The specified container is in view.' );
      
      $("#myScrollspy").addClass("is_stuck");
      
        $("#myScrollspy").fadeIn( 800, "swing" );
            //$("#myScrollspy").css('bottom','unset');
                //  $("#myScrollspy").css('top','80px');
    
    }
	});
});
  </script>
  
</body>

</html>





