<!doctype html>
<html lang="en-us" xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">
        {{ standard_header_includes }}
      
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  {% module "module_152509620453033" module_id="2842050" label="head" %}

      <style>
        {% if page_meta.name == "Inbound Marketing" %}
        
        #Inbound {
        color: #ffb52f !important;
        }
        
        {% endif %}
        
      </style>
     <style>
         .inbound-images img {max-width: 100%;
max-height: 550px;}
         
         .in-img {text-align: center;}
         
         .inbound-images {
    padding: 40px 0;
}
       #myScrollspy {transition:ease all 1s;}
       
 

  body {
      position: relative;
  }
  ul.nav-pills {
      top: 20px;
 
  }
  div.col-12 div {
      height: auto;
  }
  </style>
      
    </head>
<body data-spy="scroll" dagta-target="#myScrollspy" data-offset="90"  >

   {% module "module_152509650118873" module_id="2841936" label="nav" %}
  
  
  
   <div class="container-fluid d-flex justify-content-center align-items-center align-content-center video-parallax-container" id="video-header">
        <div class="col-12 col-sm-7 col-lg-10 d-inline-block intro-logo page-title-header" data-aos="fade" data-aos-duration="500">
            <h1 class="text-uppercase" style="color:rgb(255,255,255);height:auto;">{% inline_rich_text "inline_rich_text" field="my_text_field" html="WHAT IS INBOUND?" %}</h1>
          
          <a class="btn btn-primary left-btn white-btn" role="button" href="/consultation">SCHEDULE A CALL</a>
        <!--  <a class="btn btn-primary  white-btn" role="button" href="/contact-us">ASK AN ON-TARGET! EXPERT</a>
     -->
     </div>
    
    <video height="auto" autoplay="" poster="{% image_src "header_image_src" src="https://www.ontargetagency.com/hubfs/DigiCamp_LP-bg-1.png", no_wrapper=True %}" muted="" loop="" style="background-image:url(&quot;{% image_src "header_image_src" src="https://www.ontargetagency.com/hubfs/images/Inbound-Marketing-1.jpg", no_wrapper=True %}&quot;);background-size:cover;background-repeat:no-repeat;background-position:center;"></video>

</div>
  
   <section class="white-bg">
        <div class="container" style="max-width:100%;width:100%;">
            <div class="row">
                <div class="col-lg-3 col-xs-12 col-sm-12 col-md-3">
    <nav class="col-sm-12 col-12 inbound-scroll" id="myScrollspy">
      <ul class="nav nav-pills flex-column"  >
        <li class="nav-item"><a class="nav-link active" href="#section1" style="color:#000;">Overview</a></li>
        <li class="nav-item"><a class="nav-link" href="#section2"  style="color:#000;">Keywords & Ads</a></li>
        <li class="nav-item"><a class="nav-link" href="#section3"  style="color:#000;">Call to Actions (CTAs) & Personalization</a></li>
        <li class="nav-item"><a class="nav-link" href="#section4"  style="color:#000;">Landing Pages & Analyze in Real Time </a></li>
        <li class="nav-item"><a class="nav-link" href="#section5"  style="color:#000;">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="#section6"  style="color:#000;">Lead Management & HubSpot CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section7"  style="color:#000;">List Management & Segmentation / Email Marketing</a></li>
        <li class="nav-item"><a class="nav-link" href="#section8"  style="color:#000;">Marketing Automation</a></li>
        <li class="nav-item"><a class="nav-link" href="#section9"  style="color:#000;">Reporting Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="#section10"  style="color:#000;">Social Inbox</a></li>
        <li class="nav-item"><a class="nav-link" href="#section11"  style="color:#000;">Marketing Automation</a></li>
        <li class="nav-item"><a class="nav-link" href="#section12"  style="color:#000;">Sales Tools</a></li>
        <li class="nav-item"><a class="nav-link" href="#section13"  style="color:#000;">Practical CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section14"  style="color:#000;">Prospects</a></li>
        <li class="nav-item"><a class="nav-link" href="#section15"  style="color:#000;">Templates & Email Tracking</a></li>
        <li class="nav-item"><a class="nav-link" href="#section16"  style="color:#000;">Document Tracking</a></li>
        <li class="nav-item"><a class="nav-link" href="#section17"  style="color:#000;">Call Tracking</a></li>
        <li class="nav-item"><a class="nav-link" href="#section18"  style="color:#000;">Meetings</a></li>
        <li class="nav-item"><a class="nav-link" href="#section19"  style="color:#000;">HubSpot CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section20"  style="color:#000;">HubSpot CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section21"  style="color:#000;">HubSpot CRM</a></li>
        <li class="nav-item"><a class="nav-link" href="#section22"  style="color:#000;">Results</a></li>
    
 
      
      </ul>
    </nav>
              
              
                  <select class="mobile-inbound-nav" onchange="window.location.hash = this.options[this.selectedIndex].value">
<option value="#section1" >Overview</option>
<option value="#section2"  >Keywords & Ads</option>
<option value="#section3"  >Call to Actions (CTAs) & Personalization</option>
<option value="#section4"  >Landing Pages & Analyze in Real Time </option>
<option value="#section5"  >Blog</option>
<option value="#section6"  >Lead Management & HubSpot CRM</option>
<option value="#section7"  >List Management & Segmentation / Email Marketing</option>
<option value="#section8"  >Marketing Automation</option>
<option value="#section9"  >Reporting Dashboard</option>
<option value="#section10"  >Social Inbox</option>
<option value="#section11"  >Marketing Automation</option>
<option value="#section12"  >Sales Tools</option>
<option value="#section13"  >Practical CRM</option>
<option value="#section14"  >Prospects</option>
<option value="#section15"  >Templates & Email Tracking</option>
<option value="#section16"  >Document Tracking</option>
<option value="#section17"  >Call Tracking</option>
<option value="#section18"  >Meetings</option>
<option value="#section19"  >HubSpot CRM</option>
<option value="#section20"  >HubSpot CRM</option>
<option value="#section21"  >HubSpot CRM</option>
<option value="#section22"  >Results</option>

                  
                  </select>
              
              
              </div>
                <div class="col-lg-9 col-xs-12 col-sm-12 col-md-9">  
                  
                      <!-- CTA --> {% include "2018/assets/snippets/inbound-video-cta.html" %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-12">
      
      <!-- Section -->
      <div id="section1" class="">    
    <div class="row inbound-images">
         <div class="col-md-6">         
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/va9-ssGmtLU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     </div>
    <div class="col-md-6 in-img">
        <h1>  {% text "text1" %}</h1>
    {% rich_text "my_rich_text" label="Enter text here" html="<p>My rich text default content</p>" %}     
      {% image "inbound_image" label="Executive photo", alt="Photo of Brian Halligan", src="//cdn2.hubspot.net/hub/53/file-733888619-jpg/assets/hubspot.com/about/management/brian-home.jpg", width="300" %}
          
          
          
      </div> 
     
    </div> 
      
      
      </div>

          <!-- Section -->
      <div id="section2" class="">    
    <div class="row inbound-images">
         <div class="col-md-6"> 
         
                 
<h1>{% text "text2" %}</h1>

<p>Discover which keywords will bring the best organic traffic to your site, track your organic rankings & benchmark rankings relative to competitive sites. Your On-Target! team will help you narrow your focus onto the right Keywords so you can outrank your competitors.</p>
<hr>
<h1>Ads</h1>

<p>Using Google AdWords, Facebook Ads, or LinkedIn Sponsored Updates, Industry-focused Ads, etc., are just the beginning. Your On-Target! team will use tools that show you not only impressions and clicks, but leads, customers, and the actual ROI of your campaigns.
</p>
                                 
         </div>
    <div class="col-md-6 in-img">
           
       <img src="https://www.ontargetagency.com/hs-fs/hubfs/keywords.png?t=1525643514136&width=1529&height=602&name=keywords.png" alt="" >  
          
      </div> 
     
    </div> 
      
      
      </div>
        
         <!-- Section -->
      <div id="section3" class="">    
    <div class="row inbound-images">
         <div class="col-md-6 in-img"> 
         
  <img src="https://www.ontargetagency.com/hs-fs/hubfs/CTA.png?t=1525643514136&width=420&height=747&name=CTA.png" alt="">
                                 
         </div>
    <div class="col-md-6">
          
          
<h1>Call to Actions (CTAs)</h1>

<p>Drive more traffic to key landing pages.
</p>
<p>This is a key secret to the model. You must convert your visitors into leads with professional call-to-action buttons (that drive to a landing page) that Your On-Target! team will create, test and optimize.</p>

<hr>
<h1>Personalization</h1>

<p>Your On-Target! team will help you swap out your CTAs within emails, blog posts, or on your website for a unique user experience they will love. Using work-flows and fuzzy-logic based on lists, contact properties, sources, and behavior, your content will look and feel very personal and boost conversions.</p>

           
        </div> 
     
    </div> 
      
      
      </div>
        
           <!-- Section -->
      <div id="section4" class="">    
    <div class="row inbound-images">
         <div class="col-md-6"> 
         
  
<h1>Landing Pages</h1>

<p>Convert more visitors into qualified leads.</p>

<p>Capture inbound leads through your website with landing pages that are optimized for your brand, easy to understand and most importantly track performance, then optimize.</p>
<hr>
<h1>Analyze in Real Time</h1>

<p>See real-time traffic and conversion performance, along with source data. Analyze and A/B test landing pages in real time to optimize for visits and conversions.</p>

                                 
         </div>
    <div class="col-md-6 in-img">
          
  <img src="https://www.ontargetagency.com/hs-fs/hubfs/LP-1.png?t=1525643514136&width=1976&height=1607&name=LP-1.png" alt="">
           
        </div> 
     
    </div> 
      
      
      </div>

       
               <!-- Section -->
      <div id="section5" class="">    
    <div class="row inbound-images">
         <div class="col-md-6 in-img"> 
         
  <img src="https://www.ontargetagency.com/hs-fs/hubfs/blogs.png?t=1525643514136&width=1619&height=1004&name=blogs.png" alt="">
         </div>
    <div class="col-md-6">
          
<h2>Blog</h2><p><strong>Get your content in front of the right people.</strong></p><p>Your On-Target! team will create and optimize content with keyword recommendations and measurement data to identify the articles that make the most impact (in terms of visitors, leads &amp; customer acquisition).</p><p><strong>Companies That Blog See:</strong></p><ul>
<li>3.3X more visitors per month within one year</li>
<li>3.5X more leads per month within one year</li>
<li>79% Increase in sales revenue within one year</li>
</ul>
           
        </div> 
     
    </div> 
      
      
      </div>

       
          <!-- Section -->
      <div id="section6" class="">    
    <div class="row inbound-images">
         <div class="col-md-6"> 
         
<h2>Lead Management</h2>

<p>All your contact details, all in one place.</p>

<p>Organize all your contact details and interactions in one centralized, integrated database, create segmented lists, and score leads so sales can prioritize their outreach.</p>

 
<h2>HubSpot CRM</h2>

<p>Get an up-to-the-minute view of your entire sales funnel on a clean, visual dashboard. Create new deals with a single click, then drag and drop them from stage to stage as they progress.</p>
         </div>
    <div class="col-md-6 in-img">
<img src="https://www.ontargetagency.com/hs-fs/hubfs/Hubspot%20marketing_contact.png?t=1525643514136&width=960&height=609&name=Hubspot%20marketing_contact.png" alt="">
           
        </div> 
     
    </div> 
      
      
      </div>
        
               <!-- Section -->
      <div id="section7" class="">    
    <div class="row inbound-images">
         <div class="col-md-6 in-img"> 
         

        
<img src="https://www.ontargetagency.com/hs-fs/hubfs/hubspot%20marketing%20email.png?t=1525643514136&width=1529&height=602&name=hubspot%20marketing%20email.png" alt="">
        
         </div>
    <div class="col-md-6">

<h2>List Management & Segmentation</h2>

<p>Zero-in on the right contacts. Target your leads by segmenting based on their contact information and how they’ve engaged with you for truly personalized marketing. Your On-Target! team will use these hyper-targeted segments to send emails, personalize website content, and power marketing automation campaigns so you can effectively nurture your leads further down the funnel.</p>

<h2>Email Marketing</h2>

<p>Your On-Target! team will create high-performance emails for blasts, and prep custom emails that sales can send with their own personalization. These beautiful emails will get read and your prospects will look forward to receiving them. You will be able to measure which messages are most effective. Count on unmatched deliverability and best-in-class email analytics.</p>

           
        </div> 
     
    </div> 
      
      
      </div>

       
                     <!-- Section -->
      <div id="section8" class="">    
    <div class="row inbound-images">
        
    <div class="col-md-6">


<h2>Marketing Automation</h2>

<p><b>Automate your marketing beyond email.</b></p>

<p>Trigger a campaign of email messages based on any criteria you choose – examples include a form submission, a site revisit, a video view, a particular page visit.  Automate responses based on important lead/customer activity and set up alerts for your sales reps as necessary.</p>

<p>    64% of marketers say they saw the benefits of using marketing automation within the first six months of its implementation.
    Nurtured leads produce, on average, a 20% increase in sales opportunities versus non-nurtured leads.</p>


           
        </div> 
        
         <div class="col-md-6 in-img"> 
         
<img src="https://www.ontargetagency.com/hs-fs/hubfs/hubspot%20workflow.png?t=1525643514136&width=1529&height=602&name=hubspot%20workflow.png" alt="">
        

        
         </div>
     
    </div> 
      
      
      </div>

       
                        <!-- Section -->
      <div id="section9" class="">    
    <div class="row inbound-images">
       
          <div class="col-md-6 in-img"> 
         
<img src="https://www.ontargetagency.com/hs-fs/hubfs/report.png?t=1525643514136&width=1529&height=602&name=report.png" alt="">
        

        
         </div>
        
    <div class="col-md-6">


<h2>Reporting Dashboard</h2>

<p><b>Track customers and report impact on the bottom line.</b></p>

<p>Create beautiful, custom reports to export on virtually any metric from HubSpot Marketing, any record from HubSpot CRM, or data from any integrated apps you may be using via HubSpot Connect. Use closed-loop reporting to determine the ROI of your work.</p>

<ul>
<li>       Marketers that calculate ROI are 1.6X more likely to receive higher budgets.</li>
<li>    43% of marketers say proving the ROI of their marketing activities is their top marketing challenge.</li>
    
</ul>



           
        </div> 
        
      
     
    </div> 
      
      
      </div>

       
        
                        <!-- Section -->
      <div id="section10" class="">    
    <div class="row inbound-images">
       
        
        
    <div class="col-md-6">

<h2>Social Inbox</h2>

<p><b>Monitor social mentions and connect with people who matter.</b></p>

<p>Links social interactions to real people in your database, so you can see deep context and prioritize conversations.</p>

<p>See every interaction with your messages, and create custom keyword monitoring streams for everyone on your team to surface the interactions. Never miss an opportunity to engage with followers, nurture leads, or delight your customers.</p>




           
        </div> 
        
          <div class="col-md-6 in-img"> 
         <iframe width="100%" height="480" src="https://www.youtube.com/embed/osKVoFz2vHg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        

        
         </div>
        
      
     
    </div> 
      
      
      </div>
        
                             <!-- Section -->
      <div id="section11" class="">    
    <div class="row inbound-images">
       
        
          <div class="col-md-6 in-img"> 
        <img src="https://www.ontargetagency.com/hs-fs/hubfs/marketing%20automation.png?t=1525643514136&width=1529&height=602&name=marketing%20automation.png" alt="">
        
         </div>
        
    <div class="col-md-6">

<h2>Marketing Automation</h2>

<p><b>Segment your customers from your prospects to upsell, retain, and delight.</b></p>

<p>Turn customers into excited advocates and promoters by continuing to deliver value post purchase. Upsell and encourage customer referrals from your happiest customers, or help unhappy customers turn the situation around by giving them the content and help they need to experience the value they paid for.</p>

<p>With marketing automation, tailoring your content and campaigns to increase referrals, upsells, and loyalty is not only possible.</p>



           
        </div> 
        
        
      
     
    </div> 
      
      
      </div>
        
                                  <!-- Section -->
      <div id="section12" class="">    
    <div class="row inbound-images">
       
        
     
        
    <div class="col-md-6">

<h2>Sales Tools</h2>
<p>Sell in an efficient, modern, human-friendly way.</p>

<p>People don’t want to be sold to, they want to be served. This is the secret to selling in a modern way.</p>

<p>Marketing should support your sales operations by unearthing useful information about the contacts and companies you interact with  right  to  your  fingertips enabling you to serve them better.</p>




           
        </div> 
        
        
             <div class="col-md-6 in-img"> 
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6UqKyKXqb8w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
         </div>
        
        
      
     
    </div> 
      
      
      </div>

       
                                         <!-- Section -->
      <div id="section13" class="">    
    <div class="row inbound-images">
       
        
     
        
    <div class="col-md-6">

<a href="https://www.hubspot.com/sales/demo?wvideo=vzempomauf" target="_blank"><img style="width: 100%;" src="https://embedwistia-a.akamaihd.net/deliveries/373b8cd72d42aff3804a69807e14a2d42fc7463b.jpg?image_play_button_size=2x&amp;image_crop_resized=960x540&amp;image_play_button=1&amp;image_play_button_color=7b796ae0" width="400" height="224"></a>


           
        </div> 
        
        
             <div class="col-md-6 "> 
       
<h2>Practical CRM</h2>

<p><b>We'll help you stage an easy-to-use free CRM system that your sales team will love.</b></p>

<p>Say goodbye to manual tasks and confusing features. We will help you stage the FREE HubSpot CRM system that organizes every detail about your contacts and customers in a single place.</p>

<p>Most importantly, it will create a seamless connection with your newly aligned Marketing & Sales program.</p>
   </div>
        
        
      
     
    </div> 
      
      
      </div>
        
                                               <!-- Section -->
      <div id="section14" class="">    
    <div class="row inbound-images">
       
        
     
        
        
        
             <div class="col-md-6 "> 
       
<h2>Prospects</h2>

<p><b>Identify engaged prospects and focus on closing the warmest leads.</b></p>

<p>Prevent prospects from slipping through the cracks, without the busywork. Send a series of timed emails to your prospect so you never lose touch. Choose from a list of messages, and enroll a contact right from your inbox.
</p>
<p>Use personalization tokens to tailor the emails in your sequence with contact and company details from HubSpot CRM or Salesforce. Then add specific details to each message to connect with your prospects like only a human can.</p>

<ul><li>    63% of prospects are “somewhat” or “not at all” knowledgeable about a company before a sales rep makes the first contact.</li>
<li>43% of salespeople struggle most with prospecting.</li>
</ul>



   </div>
       
       
    <div class="col-md-6">
<img src="https://www.ontargetagency.com/hs-fs/hubfs/contact%20list.png?t=1525643514136&width=1529&height=602&name=contact%20list.png" alt="">

           
        </div> 
        
        
      
     
    </div> 
      
      
      </div>
        
                                                   <!-- Section -->
      <div id="section15" class="">    
    <div class="row inbound-images">
       
        
         <div class="col-md-6"><img src="https://www.ontargetagency.com/hs-fs/hubfs/email%20template.png?t=1525643514136&width=1529&height=602&name=email%20template.png" alt="">
           
        </div> 
     <div class="col-md-6 "> 
       
<h2>Templates</h2>

<p><b>Use data to identify the best-performing Sequences.</b></p>

<p>Personalize messages extremely quickly so you see what is performing the best. Close more deals by sharing your best email templates with your entire team.</p>
<h2>Email Tracking</h2>

<p>Use  notifications  to  follow  up  seconds  after  a  lead  opens an email, clicks a link, or downloads an important document such as a proposal.</p>

<p>A built-in activity stream automatically logs each lead’s history inside your browser or HubSpot Sales. Open, click, and reply data helps you hone in on which email templates and sequences are most effective, so you can optimize your emails to get the best results.</p>


   </div>
       
    </div> 
      </div>

        <!-- Section -->
      <div id="section16" class="">    
    <div class="row inbound-images">
       
        

     <div class="col-md-6 "> 
      
<h2>Document Tracking</h2>

<p><b>Know what content closes deals.</b></p>

<p>Build a library of helpful sales content for your entire team, share documents right from your Gmail or Outlook inbox, and see which content closes deals.</p>

<p>When a lead clicks an email link to open your document, or shares it with a colleague, we’ll notify you instantly on your desktop. Get aggregate data about how your sales content is helping to move your sales process forward.</p>


   </div>
               <div class="col-md-6">
          <img src="https://www.ontargetagency.com/hs-fs/hubfs/email%20tracking.png?t=1525643514136&width=1529&height=602&name=email%20tracking.png" alt="">  
        </div> 
       
    </div> 
      </div>
      
         <!-- Section -->
      <div id="section17" class="">    
    <div class="row inbound-images">
       
                       <div class="col-md-6">
         <img src="https://www.ontargetagency.com/hs-fs/hubfs/hubspot%20call.png?t=1525643514136&width=1469&height=1031&name=hubspot%20call.png" alt="">    </div> 

     <div class="col-md-6 "> 
     
<h2>Call Tracking</h2>

<p><b>Spend less time dialing and more time selling.</b></p>

<p>Use data from your HubSpot CRM to prioritize your best calls, and set up a daily calling queue. Just one click connects you to a prospect through Voice Over IP or your desk phone.</p>



   </div>

       
    </div> 
      </div>
      
       <!-- Section -->
      <div id="section18" class="">    
    <div class="row inbound-images">
       


     <div class="col-md-6 "> 
     
<h2>Meetings</h2>

<p><b>Put the power to book meetings in the hands of your prospects.</b></p>

 <p> Meetings sync to your Google or Office 365 calendar, so your schedule is always up-to-date. As prospects book meetings, automatically create new records or log the activity in your CRM.</p>




   </div>
       
                              <div class="col-md-6">
<img src="https://www.ontargetagency.com/hs-fs/hubfs/meetings.png?t=1525643514136&width=1529&height=602&name=meetings.png" alt="">
         
         </div> 

       
    </div> 
      </div>
      
         <!-- Section -->
      <div id="section19" class="">    
    <div class="row inbound-images">
       

 <div class="col-md-6">
<img src="https://www.ontargetagency.com/hs-fs/hubfs/pipeline.png?t=1525643514136&width=1529&height=602&name=pipeline.png" alt="">
         
         </div> 
     <div class="col-md-6 "> 
     
<h2>HubSpot CRM</h2>

<p><b>Manage your pipeline and close more deals.</b></p>

<p>Get an up-to-the-minute view of your entire sales funnel on a clean, visual dashboard. Create new deals with a single click, then drag and drop them from stage to stage as they progress.</p>

<p>You can sort deals won and lost, appointments scheduled, and contracts sent over any time period. Plus, track performance against quotas you set.</p>

<p>Sort deals by name, owner, amount, or stage with custom filters for actionable intel in a fraction of the time.</p>




   </div>
       
                             

       
    </div> 
      </div>
    
    
           <!-- Section -->
      <div id="section20" class="">    
    <div class="row inbound-images">
       

     <div class="col-md-6 "> 
     
<h2>HubSpot CRM</h2>


<p><b>See everything about a lead in one place.</b></p>

<p>Go way beyond names and job titles. Every interaction with a lead is stored in a tidy timeline, including calls, emails, meetings, and notes.</p>

<p>You’ll never need to dig through a messy inbox or spreadsheet to figure out where a relationship left off.</p>

<p>Sync up with HubSpot Marketing, and you’ll know which content your lead has consumed so you can personalize your approach.</p>

<ul>
<li>        40% of salespeople say getting a response from prospects is getting harder.</li>
<li>    29% of salespeople are spending an hour or more on data entry each and every day.</li>
    
</ul>





   </div>
      
 <div class="col-md-6">
<img src="https://www.ontargetagency.com/hs-fs/hubfs/lead%20flow.png?t=1525643514136&width=1529&height=602&name=lead%20flow.png" alt="">
         
         </div> 
       
                             

       
    </div> 
      </div>
      
               <!-- Section -->
      <div id="section21" class="">    
    <div class="row inbound-images">
       

 <div class="col-md-6">
<img src="https://www.ontargetagency.com/hs-fs/hubfs/sales%20activity.png?t=1525643514136&width=1529&height=602&name=sales%20activity.png" alt="">
         
         </div> 
     <div class="col-md-6 "> 
     
<h2>HubSpot CRM</h2>
<p><b>Log sales activity automatically.</b></p>

<p>HubSpot CRM tracks customer interactions automatically – whether they’re in an email, across social media, or on a call.</p>

<p>HubSpot CRM works seamlessly with HubSpot Sales, so you can log sales activity automatically. HubSpot Sales syncs with G Suite and Office 365 so you can track customer interactions automatically – whether they’re in an email, across social media, or on a call – for actionable intel in a fraction of the time.</p>





   </div>
      
       
                             

       
    </div> 
      </div>
      
           
               <!-- Section -->
      <div id="section22" class="">    
    <div class="row inbound-images">
       

     <div class="col-md-6 "> 
     
<h2>Results</h2>

<p><b>On-Target! Marketing and HubSpot... where all of your marketing and sales come together.</b></p>

<p>Here’s how On-Target! Marketing and HubSpot will help your team grow traffic, convert leads, increase sales and track your entire funnel in one place.</p>
<ol>
<li>Build and modify your website without IT</li>
<li>Convert more visitors into qualified leads</li>
<li>Turn leads into customers with less effort</li>
<li>Track customers and report your impact on the bottom line</li>
<li>Increase productivity of sales by automating manual tasks</li>
<li>Manage sales pipeline in a CRM that sales reps actually want to use</li>
    
</ol>


   </div>
     
 <div class="col-md-6 in-img">
<img src="https://www.ontargetagency.com/hubfs/Approach_icon.svg?t=1525643514136" alt="">
         
         </div> 
      
       
                             

       
    </div> 
      </div>
                   <!-- Section -->
      <div id="section23" class="">    
    <div class="row inbound-images">
       

     <div class="col-md-6 "> 
     

<h2>The ROI Companies See From HubSpot</h2>

<p>With inbound marketing and HubSpot organisations increase lead generation, reduce costs, and grow new markets. Based on data from HubSpot, companies can expect the following results within one year:</p>

<ul>
    
<li>        3.3X increase in website visitors</li>
   <li> 3.5X increase in leads</li>
<li>    2X increase in new business close rate</li>
<li>    79% of respondents saw an increase in sales revenue</li>
    
</ul>




   </div>
     
 <div class="col-md-6">
<img src="https://www.ontargetagency.com/hs-fs/hubfs/roi2.png?t=1525643514136&width=1536&height=738&name=roi2.png" alt="">
         
         </div> 
      
       
                             

       
    </div> 
      </div>
      
      
    
    
    
    
    
    
    
    </div>
  </div>
</div></div>
            </div>
        </div>
        </section>
 
  
       {% module "module_152509634232252" module_id="2842056" label="foot" %}
  
  {{ standard_footer_includes }}
  
  <script>
  function isOnScreen(elem) {
	// if the element doesn't exist, abort
	if( elem.length == 0 ) {
		return;
	}
	var $window = jQuery(window)
	var viewport_top = $window.scrollTop()
	var viewport_height = $window.height()
	var viewport_bottom = viewport_top + viewport_height
	var $elem = jQuery(elem)
	var top = $elem.offset().top
	var height = $elem.height()
	var bottom = top + height

	return (top >= viewport_top && top < viewport_bottom) ||
	(bottom > viewport_top && bottom <= viewport_bottom) ||
	(height > viewport_height && top <= viewport_top && bottom >= viewport_bottom)
}

jQuery( document ).ready( function() {
	window.addEventListener('scroll', function(e) {
		if( isOnScreen( jQuery( '.footer-lower' ) ) ) { /* Pass element id/class you want to check */
			console.log( 'The specified container is in view.' );
      
      $("#myScrollspy").removeClass("is_stuck");
      
        $("#myScrollspy").fadeOut( 800, "swing" );
           // $("#myScrollspy").css('bottom','140%');
                 // $("#myScrollspy").css('top','unset');

 		}	else {
      
      console.log( 'The specified container is in view.' );
      
      $("#myScrollspy").addClass("is_stuck");
      
        $("#myScrollspy").fadeIn( 800, "swing" );
            //$("#myScrollspy").css('bottom','unset');
                //  $("#myScrollspy").css('top','80px');
    
    }
	});
});
  </script>
  
</body>

</html>





