<!doctype html>
<html lang="en-us" xml:lang="en-us" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>{{ content.html_title }}</title>
        <meta name="description" content="{{ content.meta_description }}">
        {{ standard_header_includes }}
      
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  {% module "module_152509620453033" module_id="2842050" label="head" %}
<style>
        {% if page_meta.name == "What We Do" %}
        
        #WhatWeDo {
        color: #ffb52f !important;
        }
            
             #About {
        color: #ffb52f !important;
        }
        
        {% endif %}
        
      </style>
      
    </head>
<body>

   {% module "module_152509650118873" module_id="2841936" label="nav" %}
  
  
  
   <div class="container-fluid d-flex justify-content-center align-items-center align-content-center video-parallax-container" id="video-header">
           <div class="col-12 col-sm-7 col-lg-10 d-inline-block intro-logo" data-aos="fade" data-aos-duration="500">
            <h1 style="color:rgb(255,255,255);height:auto;"><strong>WHAT</strong><br><strong>WE DO</strong><br></h1>
            <p class="subhead" style="color:rgb(255,255,255);"><br>Your Story, Well Told.<br><br></p>
        </div>
    
<video height="auto" autoplay="" muted="" loop=""><source src="https://www.ontargetagency.com/hubfs/Video/What%20We%20Do.mp4" type="audio/mp4" wp-acf="[{'type':'url','name':'video','label':'Video','wrapper':{'width':30}}]" wp-attr="[{'target':'src','replace':'%1'}]"></video>
</div>
  
 
    <section class="white-bg padding25" style="padding-bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col" data-aos="fade-up" data-aos-duration="250">
                    <p>We combine all the elements of marketing and advertising for a full-funnel approach, from prospecting through performance analytics. What good is collateral if you don’t have a sales strategy behind it? Why perform SEM and SEO if you’re not leading it to powerful content? An intelligent mix of inbound and outbound marketing services, that’s what we do. <br></p>
                </div>
            </div>
        </div>
        </section>
        <div class="features-boxed padding25">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="d-block intro content-area" data-aos="fade-up" data-aos-duration="500"><img src="https://www.ontargetagency.com/hubfs/InBound_icon.svg" width="90px" class="icon-img red-bg">
                            <h2 class="text-center" style="height:auto;margin:0;padding:0;">INBOUND</h2>
                            <p class="text-left what-we-do-method">Inbound&nbsp;marketing focuses on attracting customers through content and interactions that are relevant and helpful — not interruptive.&nbsp;We create content designed to attract qualified prospects and that builds trust quickly.
                                If you want better leads that convert, this is where it starts.<br></p>
                            <div class="row">
                                <div class="col" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250">
                                    <ul class="left">
                                        <li>Lead Nurturing<br></li>
                                        <li>Retargeting<br></li>
                                        <li>Social Media Marketing<br></li>
                                        <li>Content Marketing<br></li>
                                        <li style="list-style-type:none;"><br></li>
                                    </ul>
                                </div>
                                <div class="col" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                                    <ul class="left">
                                        <li>Google Advertising<br></li>
                                        <li>Video / Multimedia Production<br></li>
                                        <li>Email Marketing Campaigns<br></li>
                                    </ul>
                                </div>
                            </div>
                        </div><button class="btn btn-primary btn-block otm-btn" type="button" data-aos="fade" data-aos-duration="1250" data-aos-delay="500" data-aos-once="true" style="color:rgb(0,0,0);" onclick="window.location.href='https://www.ontargetagency.com/inbound-marketing'">WHAT IS INBOUND?</button></div>
                    <div class="col">
                        <div class="d-block intro content-area" data-aos="fade-up" data-aos-duration="500"><img src="https://www.ontargetagency.com/hubfs/OutBound_icon.svg" width="90px" class="icon-img gold-bg">
                            <h2 class="text-center" style="height:40PX;padding:0;margin:0;">OUTBOUND</h2>
                            <p class="text-left what-we-do-method">Old&nbsp;faithful. Digital is huge but it isn’t everything. Branding involves being at the right place at the right time, all the time. There’s no one way to reach your audience, it takes a combined multi-channel marketing&nbsp;plan
                                to be everywhere, all the time with a consistent and engaging message. <br></p>
                            <div class="row">
                                <div class="col" data-aos="fade-up" data-aos-duration="500" data-aos-delay="750">
                                    <ul class="left">
                                        <li>Website Design<br></li>
                                        <li>Billboards<br></li>
                                        <li>TV &amp; Radio Ads<br></li>
                                        <li>Direct Marketing<br></li>
                                        <li>Public Relations<br></li>
                                    </ul>
                                </div>
                                <div class="col" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1000">
                                    <ul class="left">
                                        <li>Outdoor Signs<br></li>
                                        <li>Print Collateral<br></li>
                                        <li>Sales Presentations<br></li>
                                        <li>Events/Trade Shows<br></li>
                                        <li style="list-style-type:none;"><br></li>
                                    </ul>
                                </div>
                            </div>
                        </div><button class="btn btn-primary btn-block otm-btn" type="button" data-aos="fade" data-aos-duration="500" data-aos-delay="1250" style="color:rgb(0,0,0);" onclick="window.location.href='https://www.ontargetagency.com/problems'">WHAT'S YOUR PROBLEM? </button></div>
                </div>
            </div>
        </div>
  
  
    <!-- CTA --> {% include "2018/assets/snippets/inbound-video-cta.html" %}
  
        <div class="features-boxed lt-gray">
            <div class="container content-area padding50 lt-gray" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250">
              
              
              
                <div class="d-block intro content-area"><img src="https://www.ontargetagency.com/hubfs/Tactics_icon (1).svg" width="90px" class="icon-img">
                    <h2 class="text-center" style="height:40PX;">IT’S NOT THE TACTICS THAT MATTER.<br></h2>
                    <h2 class="text-center" style="padding:0;margin:0;font-weight:normal;">IT’S HOW YOU TELL YOUR STORY!<br></h2>
                    <div class="quote gold">
                        <p>Inbound Marketing is where your brand transformation begins.<br></p>
                    </div>
                </div>
                <p class="inner-subhead"><strong>From the dawn of man, interesting stories built lasting impressions. In today's digital age, marketing and advertising methods have an even greater impact to the masses. </strong><br><br></p>
                <p class="text-left">At&nbsp;On-Target!, we craft your story in a way that transforms how your prospects and customers feel about your brand. Focusing on your brand messaging at it’s core is key in this process.&nbsp;Once&nbsp;it’s refined, we develop a plan
                    to maximize your brand awareness through all forms of communication. In our view, that’s just good marketing and advertising.<br><br></p>
                <p><strong>Getting to that core message REQUIRES a partnership, a collaboration from both parties.</strong><br></p>
            </div>
        </div>
        <!--<section style="background-color:#ffffff;">
            <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="250" style="background-image:url(&quot;https://www.ontargetagency.com/hubfs/Video1_img.png&quot;);height:500px;background-position:center;background-size:cover;background-repeat:no-repeat;width:100%;">
                <div class="d-flex justify-content-center align-items-center" style="height:inherit;min-height:initial;width:100%;position:absolute;left:0;background-color:rgba(255,0,0,0.08);">
                    <div class="d-flex align-items-center order-12" style="height:200px;">
                        <div class="container">
                            <h3 class="text-center" style="color:rgb(242,245,248);padding-top:0.25em;padding-bottom:0.25em;font-weight:normal;"><br>SEE WHAT OUR CLIENTS SAY ABOUT&nbsp;<br>OUR CREATIVE SOLUTIONS<br>
                              
                              <script src="https://fast.wistia.com/embed/medias/6ov3q8edrf.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                              
                              <span class="wistia_embed wistia_async_6ov3q8edrf popover=true popoverContent=link" style="display:inline;position:relative"><a href="#"><img src="https://www.ontargetagency.com/hubfs/Play_Button.png" style="margin:40px auto;"> </a></span>
                              
                              
                              
                              
                              
                              
                              <br></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
    {% module "module_153416834570016" module_id="3516139" label="yt-video-modal" %}
  
        <section class="cta"></section>
        <div class="features-boxed">
            <div class="container content-area padding50" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250">
                <div class="d-block intro content-area"><img src="https://www.ontargetagency.com/hs-fs/hubfs/otm-logo-1.png" width="90px" class="icon-img">
                    <h2 class="text-center" style="height:40PX;">ON-TARGET!:<br></h2>
                    <h2 class="text-center" style="padding:0;margin:0;font-weight:normal;">THE IDEAL POINT OF FOCUS<br></h2>
                    <div class="quote gold">
                        <p>Your brand is a big deal.<br></p>
                    </div>
                </div>
                <p class="inner-subhead">We&nbsp;transform entrepreneurs' brands into something they couldn't imagine&nbsp;and as a result help them build exceptional lasting value for their business.<br></p>
                <p class="text-left">Having&nbsp;a distinctive brand elevates all facets of your business, through both perceived and actual value. A strong brand has the ability to not only drive sales &amp; market share increases, but also it will trickle down to elevate
                    public relations, internal company moral and employee recruitment. This isn’t about competing with national brand names such as Coke, Nike or Amazon — it's about creating a strong brand identity and market leadership within your micro-market.<br></p>
            </div>
        </div>
        <div class="features-boxed" style="background-color:rgb(255,255,255);">
            <div class="container content-area padding50" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250">
                <div class="d-block intro content-area"><img src="https://www.ontargetagency.com/hubfs/Creative-Solutions_icon.svg" width="90px" class="icon-img">
                    <h2 class="text-center" style="height:40PX;">CREATIVE<br></h2>
                    <h2 class="text-center" style="padding:0;margin:0;font-weight:normal;">SOLUTIONS<br></h2>
                    <div class="quote blue">
                        <p>Leave a lasting impression<br></p>
                    </div>
                </div>
                <p class="text-left">What&nbsp;is good creative? Well-designed logo? Stunning video? A captivating website? Engaging brochures? It’s all of this. It’s moving your prospects toward an intended action. Creating a consistent brand means <br>adapting your marketing
                    approach for the media being utilized and targeted audience — whether that's on your website, brochure, sales presentation, or digital advertising banners. The goal of your marketing<br> materials should be to inform your customers,
                    provide insight about your business and build your brand.<br></p>
            </div>
        </div>
        <div class="features-boxed" style="background-color:rgb(255,255,255);">
            <div class="container content-area padding50" data-aos="fade-up" data-aos-duration="500" data-aos-delay="250">
                <div class="d-block intro content-area"><img src="https://www.ontargetagency.com/hubfs/Execution_icon.svg" width="90px" class="icon-img">
                    <h2 class="text-center" style="height:40PX;">EXCEPTIONAL<br></h2>
                    <h2 class="text-center" style="padding:0;margin:0;font-weight:normal;">EXECUTION<br></h2>
                    <div class="quote gold">
                        <p>Save time and worry less<br></p>
                    </div>
                </div>
                <p class="text-left">Our&nbsp;refined creative process and project management system ensures every aspect of your campaign is impeccably executed, on time and on budget. We’ve turned around projects in 60 days when other Agencies quoted 6-9 months. Delivering
                    your message through outbound marketing (Print Advertising, Radio Advertising and TV Advertising) or inbound marketing (Web, Email Marketing, Digital Advertising and Social Media) is what we do. We cut out the noise to make your brand
                    stand out. <br></p>
            </div>
        </div>
        <!--<section style="background-color:#ffffff;">
            <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="250" style="background-image:url(&quot;https://www.ontargetagency.com/hubfs/Video3_img@2x.png&quot;);height:500px;background-position:center;background-size:cover;background-repeat:no-repeat;width:100%;">
                <div class="d-flex justify-content-center align-items-center" style="height:inherit;min-height:initial;width:100%;position:absolute;left:0;background-color:rgba(255,0,0,0.08);">
                    <div class="d-flex align-items-center order-12" style="height:200px;">
                        <div class="container">
                            <h3 class="text-center" style="color:rgb(242,245,248);padding-top:0.25em;padding-bottom:0.25em;font-weight:normal;"><br>SEE WHAT OUR CLIENTS SAY ABOUT&nbsp;<br>OUR EXECUTION<br>
                              
                              
                              
                              <script src="https://fast.wistia.com/embed/medias/g9i0csoxpc.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                              
                              <span class="wistia_embed wistia_async_g9i0csoxpc popover=true popoverAnimateThumbnail=true popoverContent=link" style="display:inline;position:relative"><a href="#">                              <img src="https://www.ontargetagency.com/hubfs/Play_Button.png" style="margin:40px auto;"> </a></span>
                              

                              
                              
                              
                              <br></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
  

  {% module "module_153417375099551" module_id="3516647" label="yt-video-modal-2" %}
  
  
       {% module "module_152509634232252" module_id="2842056" label="foot" %}
  
  {{ standard_footer_includes }}
  
</body>

</html>





